<div>Message Inbox</div>
<table class="table">
  <thead>
    <th>#</th>
    <th>Title</th>
    <th>Send To</th>
    <th>Send On</th>
    <th>Action</th>
  </thead>
  <tbody>
    <%= render 'send_index.html.erb' %>
  </tbody>
</div>